/** HEADER STYLES **/
.studentHeader {
  width: 6vh;
  height: 6vh;
}

.headerDiv {
  height: 5vh;
  text-align: center;
}

.studentTag {
  color: #797979;
  font-size: 1.5vw;
  margin-right: 10px;
}

.studentUsername {
  color: #797979;
  font-size: 1.5vw;
  margin-left: 10px;
}

/** STATSCREEN STYLES **/

.statsSide {
  height: 95vh;
  padding: 0;
}

.statRow {
  height: 84vh;
  border: 2px solid black;
  background-color: #D8D8D8;
}

.statsContainer {
  width: 95%;
  margin-right: 0px;
}

.tabButton {
  height: 3.8vh;
  width: 100%;

  background-color: #FFFFFF;
  font-size: 1.2vw;
}

.activeTab {
  height: 3.8vh;
  width: 100%;
  background-color: #D8D8D8;

  font-size: 1.2vw;
}



.webCol {
  padding: 0px;
}






.tabCol {
  padding: 0px;
}

.endSessionBtn {
  margin-right: auto;
  margin-left: auto;
  width: 15vw;
  font-size: 2vh;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #CFCFCF;
  color: #646464;
  height: 5vh;
}

.mainStatDiv {
  margin: auto;
}

/** MAP STYLES **/

    /** Note Tab Styles **/

.annotationButton {
  margin: 0px;
  margin-left: 75%;
  font-size: 2vh;
  width: 30vw;
  height: 3.8vh;
  background-color: white;
}

.activeAnnotationButton {
  background-color: #D8D8D8;
}

.annotationBox {
  position: absolute;
  background-color: #D8D8D8;
  border: 2px solid black;
  width: 30vw;
  left: 36%;
  height: 42vh;
  padding: 0px;
  text-align: center;
  z-index: 1;
}

.annotationContent {
  width: 90%;
  height: 70%;
  background-color: #E1E1E1;
  resize: none;
}

.annotationTime {
  font-size: 1.5vw;
  margin-top: 7px;
  margin-left: 5%;
}

.annotationList {
  position: absolute;
  width: 30vw;
  background-color: #D8D8D8;
  z-index: 1;
  left: 36%;
  top: 45vh;
  border: 2px solid black;
  list-style: none;
  padding: 0px;
  text-align: left;
}

.annotation {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  height: 4vh;
}
.annotationText {
  white-space: nowrap;
  overflow: hidden;
}

.annotationDeleteButton {
  position: fixed;
  right: 4vw;
}
.trashImg {
  width: 25px;
  height: 25px;
}

    /** Map Styles **/
.mapSide {
  padding: 0px;
  height: 95vh;

}
.mapContainer {
  width: 95%;
  margin-left: 0px;
}

.annotationRow {
  text-align: right;
}

#mapRow {
  height: 91vh;
  background-color: #D8D8D8;
  border: 2px solid black;
  justify-content: center;
  display: flex;
  vertical-align: center;
  padding-top: 2%;

}


#eraser, #brush, #clear, #circle, #arrow {
  width: 4vw;
  height: 2vw;
}

.activeTool {
  background-color: #D8D8D8;
}
